<nz-card nzTitle="Orders" [nzExtra]="extraTemplate">
  <nz-table #orderTable [nzData]="(orders$ | async)">
    <thead>
      <tr>
        <th>No</th>
        <th>Id</th>
        <th>Name</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of orderTable.data; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>
          <nz-tag *ngIf="data.status === 'DELIVERED'" [nzColor]="'green'">{{ data.status }}</nz-tag>
          <nz-tag *ngIf="data.status === 'CANCELLED'" [nzColor]="'red'">{{ data.status }}</nz-tag>
          <nz-tag *ngIf="data.status === 'CREATED'" [nzColor]="'blue'">{{ data.status }}</nz-tag>
          <nz-tag *ngIf="data.status === 'CONFIRMED'" [nzColor]="'cyan'">{{ data.status }}</nz-tag>
        </td>
        <td>
          <button nz-button nzType="primary" (click)="showViewModal(data.id)">View</button>
          <button nz-button nzType="danger" *ngIf="data.status === 'CREATED'" (click)="cancelOrder(data.id)">Cancel</button>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <ng-template #extraTemplate>
      <button nz-button nzType="primary" (click)="showModal()">Create new order</button>
  </ng-template>
  <nz-modal [(nzVisible)]="isVisible" nzTitle="Create new order" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <input nz-input placeholder="Order name" [(ngModel)]="orderName" />
  </nz-modal>
  <nz-modal [(nzVisible)]="isVisibleViewModal" nzTitle="Order" (nzOnCancel)="handleCancelViewModal()" (nzOnOk)="null">
    <nz-descriptions nzTitle="" nzBordered nzLayout="vertical" [nzSize]="'small'">
      <nz-descriptions-item nzTitle="Order ID" [nzSpan]="3">
        {{this.viewingOrder.id}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Name" [nzSpan]="3">
        {{this.viewingOrder.name}}
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="Status" [nzSpan]="3">
        <nz-tag *ngIf="this.viewingOrder.status === 'DELIVERED'" [nzColor]="'green'">{{ this.viewingOrder.status }}</nz-tag>
        <nz-tag *ngIf="this.viewingOrder.status === 'CANCELLED'" [nzColor]="'red'">{{ this.viewingOrder.status }}</nz-tag>
        <nz-tag *ngIf="this.viewingOrder.status === 'CREATED'" [nzColor]="'blue'">{{ this.viewingOrder.status }}</nz-tag>
        <nz-tag *ngIf="this.viewingOrder.status === 'CONFIRMED'" [nzColor]="'cyan'">{{ this.viewingOrder.status }}</nz-tag>
      </nz-descriptions-item>
    </nz-descriptions>
  </nz-modal>
</nz-card>
